.bg-transparent
{
    background-color:transparent;
}
.Wt-tableview .Wt-tv-contents {
  background-color: transparent;
}
.Wt-tableview .Wt-tv-contents.Wt-striped div.Wt-tv-c:nth-child(odd) {
  background-color: rgba(200,200,200,0.55);
}
.Wt-tableview .Wt-tv-contents.Wt-striped div.active:nth-child(odd) {
  background-color: #0088cc;
}
.Wt-itemview .Wt-spacer {
  background: none;
}
.Wt-itemview {
  cursor: default;
  white-space: nowrap;
  background: transparent;
  border: 1px solid;
  border-color: transparent ;
  /* header */

  /* resize handles */

  /* sort handles */

  /* item drag & drop */

}
.Wt-tableview .Wt-header {
  border-bottom: 1px ;
  border-bottom-color: transparent ;
}

table {
      max-width: 100%;
      background-color: rgba(0,0,0,.25);
  }
  
.table-full
{
    width: 100%;
}
.console-msgs
{
    margin: 10px;
    border: 1px ;
    border-color: lightgrey;
    border-style: solid;
}
.console-msg-tsrc
{
  color: rgb(32, 99, 134);  
}
.console-msg-level
{
    color: rgb(55, 128, 55);
}
.console-msg-jsrc
{
    color: rgb(216, 160, 96);
}
.console-msg
{
  color: rgb(82, 72, 72);
}

.editorArea {
    border: 1px ;
    border-color: lightgrey;
    border-style: solid;
}

/*DIFF Coloring*/
.diff
{
    /*background-color: white;*/
    border-spacing: 2px;
border-color: gray;
white-space: pre-wrap;
border: 1px ;
border-color: lightgrey;
    border-style: solid;
}

.diff_base_addition
{
    background-color: white;
    padding-left: 10px;
padding-right: 10px;
white-space: pre-wrap;
 border: solid #eee;
    border-width: 0 1px 0 0;
 border-color: #c1e9c1;
}
.diff_mod_addtition
{
    background-color: #eaffea;
    padding-left: 10px;
padding-right: 10px;
white-space: pre-wrap;
}
.diff_base_deletion
{
    background-color: #ffecec;
    padding-left: 10px;
padding-right: 10px;
white-space: pre-wrap;
 border: solid #eee;
    border-width: 0 1px 0 0;
    border-color: #c1e9c1;
}
.diff_mod_deletion
{
    background-color: white;
    padding-left: 10px;
padding-right: 10px;
white-space: pre-wrap;
 border: solid #eee;
    border-width: 0 1px 0 0;
    border-color: #c1e9c1;
}
.diff_mod_text
{
    background-color: #a6f3a6;;
}
.diff_base_same
{
    background-color: white;
    padding-left: 10px;
padding-right: 10px;
white-space: pre-wrap;
 border: solid #eee;
    border-width: 0 1px 0 0;
    
}
.diff_base_text
{
     background-color: #ddbbbb;
}
.diff_mod_same
{
    background-color: white;
    padding-left: 10px;
padding-right: 10px;
white-space: pre-wrap;
 border: solid #eee;
    border-width: 0 1px 0 0;
    

}
.diff_base_addition_linenumber
{
    background-color: white;
padding-left: 10px;
padding-right: 10px;    
text-align: right;
border: solid #eee;
border-width: 0 1px 0 0;
}
.diff_mod_addition_linenumber
{
    background-color: #dbffdb;
    border: solid #eee;
    border-width: 0 1px 0 0;
    border-color: #c1e9c1;
    padding-left: 10px;
    padding-right: 10px;
    text-align: right;
}
.diff_base_deletion_linenumber
{
    background-color: #ffdddd;
       border: solid #eee;
    border-width: 0 1px 0 0;
        text-align: right;
        border-color: #f1c0c0;
         padding-left: 10px;
    padding-right: 10px;
}
.diff_mod_deletion_linenumber
{
    background-color: white;
padding-left: 10px;
padding-right: 10px;    
text-align: right;
border: solid #eee;
border-width: 0 1px 0 0;
}
.diff_base_same_linenumber
{
    background-color: white;
    padding-left: 10px;
padding-right: 10px;
text-align: right;
border: solid #eee;
border-width: 0 1px 0 0;
}
.diff_mod_same_linenumber
{
    background-color: white;
    padding-left: 10px;
padding-right: 10px;
text-align: right;
border: solid #eee;
border-width: 0 1px 0 0;
}
